<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'Plant/signup_login/assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" href="{% static 'Plant/signup_login/assets/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>SIGN UP PAGE</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="{% static 'Plant/signup_login/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'Plant/signup_login/assets/css/material-kit.css' %}" rel="stylesheet"/>
	<link href="{% static 'Plant/signup_login/assets/css/css3w.css' %}" rel="stylesheet"/>

</head>

<body class="signup-page">

	<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
				<a class="navbar-brand" href="#home">HOME</a>
        		<center><h2>PLANT MONITORING SYSTEM</h2></center>

    	</div>
    </nav>


    <div class="wrapper">
		<div class="header header-filter" style="background-image: url('{% static 'Plant/signup_login/assets/img/xx.jpg' %}'); background-size: cover; background-position: top center;">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<div class="card card-signup w3-animate-top">
							<form class="form" method="POST" action="{% url 'Plant:makeUser' %}">
								{% csrf_token %}
								<div class="header header-primary text-center w3-animate-left" style="background: #009688;">
									<h2>Sign Up</h2>
								</div>
								<p class="text-divider">Already have an account <br> <a href="{% url 'Plant:login' %}"> LOG IN </a></p>

								<div class="content">

									{% if error %}
                                    <center><p> User Already Exists.</p></center>
									{% endif %}
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										<input name="name" class="form-control" placeholder="Name..." required autocomplete="off"/>
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
										<input type='email' name="email" class="form-control" placeholder="Email..." required autocomplete="off"/>
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input type='password' name="password" placeholder="Password..." class="form-control" required autocomplete="off"/>
									</div>
								</div>
								<div class="footer text-center">
									<input type="submit" name="submit" value="Get Started" class="btn btn-simple btn-primary btn-lg" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>

    </div>


</body>
	<!--   Core JS Files   -->
	<script src="{% static 'Plant/signup_login/assets/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'Plant/signup_login/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'Plant/signup_login/assets/js/material.min.js' %}"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src=".{% static 'Plant/signup_login/assets/js/nouislider.min.js' %}" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="{% static 'Plant/signup_login/assets/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="{% static 'Plant/signup_login/assets/js/material-kit.js' %}" type="text/javascript"></script>

</html>
